html, body {
    display: flex;
    flex-direction: column;
    text-align: start;
    background: #007FFF;
    margin: 0px;
    height: 100%;
    max-width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #07242e;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.right-logos {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 150px;
}

.left-logos {
  width: 150px;
  text-align: left;
}

header h1 {
    margin: 0px;
    padding: 15px;
    font-size: 80px;
    text-align: center;
    color: white;
}

section {
  display: flex;
  padding: 15px;
  flex: 1 1 auto;
}

.home-link {
    display: flex;
    gap: 15px;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
}

.index-container {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.start-discussion-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
}

.start-discussion-text {
  padding: 15px;
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 0px 30px;
}

.chat-container {
  display: flex;
  flex-direction: row;
  gap: 60px;
  flex: 1 1 auto;
}

.chat-text {
  display: flex;
  flex-direction: column;
  align-content: flex-stretch;
  justify-content: start;
  align-items: flex-stretch;
  flex: 0 1 100%;
  max-width: 70%;
  gap: 30px;
}

.ongoing-text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  border-radius: 15px;
  margin: 25px 0px;
  flex: 0 1 100%;
  /* scroll */
  overflow-y: auto;
  max-height: calc(100vh - 122px - 30px - 50px - 30px - 82px);
}

.question {
  color: #07242e;
  border-radius: 15px;
  text-align: right;
  padding-left: 100px;
}

.response {
  color: white;
  border-radius: 15px;
  text-align: left;
  padding-right: 100px;
}

.robot-img-container {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 30%;
  padding-left: 50px
}

.robot-img {
  padding-top: 50px;
  width: 100%;
}

p {
    margin: 0px;
    padding: 15px;
    font-size: 30px;
    text-align:right;
    color: white;
}

.empty-header-div {
    width: 10px;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #07242e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 225px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.chat-button-container {
  text-align: right;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

@media screen and (max-width: 1054px) {
  .ongoing-text{
    max-height: calc(100vh - 214px - 30px - 50px - 30px - 82px);
    
  }
  .robot-img-container {
    padding-left: 30px
  }
}
@media screen and (max-width: 655px) {
  .ongoing-text{
    max-height: calc(100vh - 306px - 30px - 50px - 30px - 82px);
  }
  .robot-img-container {
    padding-left: 15px
  }
}
@media screen and (max-width: 535px) {
  .ongoing-text{
    max-height: calc(100vh - 398px - 30px - 50px - 30px - 82px);
  }
  .robot-img-container {
    padding-left: 0px
  }
}
