<!DOCTYPE html>
<html lang="'fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/style.css" rel="stylesheet" type="text/css">
        <title>IA parles moi !</title>
    </head>
    <body>
        <header> 
            <div><a class="home-link" href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='icons/logo_robot.ico') }}" alt="Home" width="50px"></a>Home</div>
                <h1>Parle avec une IA !</h1>
                <a> <img src="static/icons/logo_azure.png" width="50px"></a>
                <a> <img src="static/icons/logo_open_ia.webp" width="50px"></a>
            <div class="empty-header-div"></div>
        </header>
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>