<!DOCTYPE html>
<html lang="'fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/css/style.css" rel="stylesheet" type="text/css">
        <title>IA parles moi !</title>
    </head>
    <body>
        <header>
            <div class="left-logos">
                <a class="home-link" href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='icons/robot-icon-home.png') }}" alt="Home" width="70px"></a>
            </div>
            <h1>Parle avec une IA !</h1>
            <div class="right-logos">
                <div><a><img src="static/icons/logo_azure.png" width="50px"></a></div>
                <div><a><img src="static/icons/open-ai-logo-white.png" width="50px"></a></div>
            </div>
        </header>
        <section>
            {% block content %}{% endblock %}
        </section>
    </body>
</html>
