{% extends 'base.html' %}

{% block content %}
    <div class="chat-container">
        <div class="robot-img-container">
            <img class="robot-img" src="static/images/robot2.png">
        </div>
        <div class="chat-text">
            <div class="ongoing-text">
                {% for question_response in questions_responses %}
                    <p class="question"> {{question_response.question}}</p>
                    <p class="response">{{question_response.response}} </p>
                {% endfor %}
            </div>
            <form class="chat-button-container" action="{{ url_for('chat')}}">
                <button class="button"><span>Répondre</span></button>
            </form>
        </div>
    </div>
{% endblock %}
