{% extends 'base.html' %}

{% block content %}
    <div class="index-container">
        <div class="robot-img-container">
            <img class="robot-img" src="static/images/robot2.png">
        </div>
        <div class="start-discussion-container">
            <div class="start-discussion-text">Appuie sur le bouton et parle avec l'IA</div>
            <form action="{{ url_for('chat')}}">
                <button class="button" style="vertical-align:middle"><span>Discutons !</span></button>
            </form>
        </div>
    </div>
{% endblock %}
